In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV

### 1. Cargar datasets limpios

#### 1.1 test

In [2]:
df_test2p = pd.read_csv("../data/test-dumies2p.csv")

In [3]:
df_test2p

,Unnamed: 0,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0,0.51,58.3,61.9,5.19,5.20,3.04,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,1.02,63.0,58.0,6.37,6.43,4.03,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,2,0.59,61.9,56.0,5.39,5.34,3.32,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,3,0.90,62.3,56.0,6.14,6.18,3.84,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,4,2.01,60.2,61.0,8.23,8.16,4.93,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,13480,1.05,61.9,58.0,6.50,6.45,4.01,0,0,...,0,0,0,0,1,0,0,0,0,0
13481,13481,13481,0.32,62.1,57.0,4.35,4.38,2.71,0,0,...,0,0,0,0,0,0,0,1,0,0
13482,13482,13482,0.41,61.3,59.0,4.78,4.74,2.92,0,0,...,0,1,0,0,0,0,1,0,0,0
13483,13483,13483,0.30,62.2,59.0,4.31,4.28,2.67,0,0,...,0,0,0,0,0,0,0,0,0,1
13484,13484,13484,0.72,61.3,56.0,5.76,5.80,3.54,0,0,...,0,0,0,0,0,0,0,0,0,1

#### 1.2 train

In [4]:
df_train = pd.read_csv("../data/test-dumies.csv")

In [5]:
df_train

,Unnamed: 0,id,carat,depth,table,x,y,z,price,cut_Fair,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0,1.50,61.5,58.0,7.32,7.34,4.51,9.588,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,2.01,60.6,59.0,8.11,8.25,4.96,9.748,0,...,0,0,0,0,0,1,0,0,0,0
2,2,2,0.50,61.6,57.0,5.13,5.09,3.15,7.255,0,...,0,0,0,0,1,0,0,0,0,0
3,3,3,0.25,61.6,57.0,4.05,4.08,2.50,6.450,0,...,0,0,0,0,0,0,0,0,0,1
4,4,4,0.52,62.0,55.0,5.16,5.19,3.21,7.721,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,40450,1.04,59.6,57.0,6.60,6.62,3.94,8.190,0,...,1,0,0,0,0,1,0,0,0,0
40451,40451,40451,0.51,63.3,59.0,5.09,5.05,3.21,7.246,0,...,0,0,0,0,1,0,0,0,0,0
40452,40452,40452,1.51,62.6,57.0,7.37,7.33,4.60,9.277,0,...,0,0,0,0,0,0,0,1,0,0
40453,40453,40453,2.02,61.3,60.0,8.16,8.11,4.99,9.680,0,...,0,0,0,0,0,0,0,1,0,0
40454,40454,40454,0.50,55.8,60.0,5.31,5.27,2.95,7.154,1,...,0,0,0,0,0,0,0,1,0,0

## 2. Entrenamiento con RandomForestRegressor

#### 2.1 Separar la variable a entrenar

In [6]:
target = df_train["price"]
features = df_train.drop(["price"], axis=1)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(features,target)

#### 2.2 Entrenar modelo

In [8]:
forest = RandomForestRegressor(n_estimators=1000)

In [9]:
forest.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000)

#### 2.3 Predicciones

In [10]:
y_pred_train = forest.predict(X_train)
y_pred_test = forest.predict(X_test)

#### 2.4 mean squared error

In [11]:
mse_train = mean_squared_error(y_pred_train,y_train)
mse_test = mean_squared_error(y_pred_test,y_test)

In [12]:
#n_estimators=1000
mse_train, mse_test

(0.0012321362013205629, 0.00877739397284589)

In [12]:
#n_estimators=100
mse_train, mse_test

(0.0012734377262153514, 0.009065046947409542)

#### 2.5 Predicción con el dataset de la competición

In [13]:
preds = forest.predict(df_test2p)

In [14]:
df_test2p

,Unnamed: 0,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0,0.51,58.3,61.9,5.19,5.20,3.04,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,1.02,63.0,58.0,6.37,6.43,4.03,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,2,0.59,61.9,56.0,5.39,5.34,3.32,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,3,0.90,62.3,56.0,6.14,6.18,3.84,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,4,2.01,60.2,61.0,8.23,8.16,4.93,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,13480,1.05,61.9,58.0,6.50,6.45,4.01,0,0,...,0,0,0,0,1,0,0,0,0,0
13481,13481,13481,0.32,62.1,57.0,4.35,4.38,2.71,0,0,...,0,0,0,0,0,0,0,1,0,0
13482,13482,13482,0.41,61.3,59.0,4.78,4.74,2.92,0,0,...,0,1,0,0,0,0,1,0,0,0
13483,13483,13483,0.30,62.2,59.0,4.31,4.28,2.67,0,0,...,0,0,0,0,0,0,0,0,0,1
13484,13484,13484,0.72,61.3,56.0,5.76,5.80,3.54,0,0,...,0,0,0,0,0,0,0,0,0,1

#### 2.6 Crear dataset para subirlo a kaggle

In [15]:
test2 = pd.DataFrame(df_test2p["id"])

In [16]:
test2["price"] = preds

In [17]:
test2

          id    price
0          0  7.10473
1          1  8.33898
2          2  7.64072
3          3  8.50367
4          4  9.48473
...      ...      ...
13480  13480  8.48892
13481  13481  6.45555
13482  13482  6.68247
13483  13483  6.74582
13484  13484  8.12400

[13485 rows x 2 columns]

In [18]:
test2.to_csv("../data/test-competicion.csv", header=True, index=False)

In [19]:
test = df_train.drop(["price"], axis=1)

In [20]:
target = df_train["price"]
features = df_train.drop(["price"], axis=1)

X_train, X_test, y_train, y_test = train_test_split(features,target)

### 3. LinearRegression

In [21]:
lr = LinearRegression(fit_intercept=False)

In [22]:
lr.fit(X_train, y_train)

LinearRegression(fit_intercept=False)

In [23]:
y_pred_train_lr = lr.predict(X_train)
y_pred_test_lr = lr.predict(X_test)

In [24]:
mse_train = mean_squared_error(y_pred_train_lr,y_train)
mse_test = mean_squared_error(y_pred_test_lr,y_test)

In [25]:
#
mse_train, mse_test

(0.032946353338972785, 0.03394908798463647)

### 4. LogiticRegression

In [26]:
log = LogisticRegression()

In [27]:
log.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

### 5. RandomForestRegressor `n_estimators = 200`

In [21]:
forest = RandomForestRegressor(n_estimators=1000, 
                               max_depth=0, 
                               min_samples_split=2, 
                               min_samples_leaf=1)

In [22]:
forest.fit(X_train, y_train)

RandomForestRegressor(max_depth=30, n_estimators=1000)

In [23]:
#predicción
y_pred_train = forest.predict(X_train)
y_pred_test = forest.predict(X_test)

In [24]:
#mse
mse_train = mean_squared_error(y_pred_train,y_train)
mse_test = mean_squared_error(y_pred_test,y_test)

In [25]:
#resultados
mse_train, mse_test

(0.0012310888111332187, 0.008813350333343932)

#### 5.1 RandomForestRegressor con GridSearch

In [28]:
#Modelo
model = RandomForestRegressor()
#Parámetros del modelo
params = {'n_estimators':[1000, 1500, 2000],
              'max_depth':[35, 40, 45],
              'min_samples_split': [2], 
              'min_samples_leaf': [1]
              }
#GridSearch para parametrizar el modelo
grid_search = GridSearchCV(model,
                           param_grid=params,
                           
                           
                           verbose=1)
#Entrenamiento de modelo con parámetros
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed: 128.1min finished

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'max_depth': [35, 40, 45], 'min_samples_leaf': [1],
                         'min_samples_split': [2],
                         'n_estimators': [1000, 1500, 2000]},
             verbose=1)

In [32]:
grid_search.best_score_

0.9905712559099313

In [34]:
forest_grid = grid_search.best_estimator_

In [35]:
forest_grid.fit(X_train, y_train)

RandomForestRegressor(max_depth=40, n_estimators=1000)

In [39]:
#predicción
y_pred_train = forest_grid.predict(X_train)
y_pred_test = forest_grid.predict(X_test)

In [40]:
#mse
mse_train = mean_squared_error(y_pred_train,y_train)
mse_test = mean_squared_error(y_pred_test,y_test)

In [41]:
#resultados
mse_train, mse_test

(0.0012295449010473606, 0.008782943882030563)

In [29]:
#predicción
y_pred_train = forest.predict(X_train)
y_pred_test = forest.predict(X_test)

In [30]:
#mse
mse_train = mean_squared_error(y_pred_train,y_train)
mse_test = mean_squared_error(y_pred_test,y_test)

In [31]:
#resultados
mse_train, mse_test

(0.0012310888111332187, 0.008813350333343932)

## 6. XGBRegressor

In [34]:
xgboost = XGBRegressor()

In [35]:
xgboost.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [36]:
y_pred_train = xgboost.predict(X_train)
y_pred_test = xgboost.predict(X_test)

In [37]:
mse_train = mean_squared_error(y_pred_train,y_train)
mse_test = mean_squared_error(y_pred_test,y_test)

In [38]:
preds = xgboost.predict(df_test2p)

In [39]:
test_xgboost = pd.DataFrame(df_test2p["id"])

In [40]:
test_xgboost["price"] = preds

In [41]:
test_xgboost

          id     price
0          0  6.999229
1          1  8.387381
2          2  7.794592
3          3  8.683537
4          4  9.582080
...      ...       ...
13480  13480  8.464713
13481  13481  6.481965
13482  13482  6.641186
13483  13483  6.749040
13484  13484  8.147362

[13485 rows x 2 columns]

In [42]:
test_xgboost.to_csv("../data/test-competicion4.csv", header=True, index=False)

## Resultados

In [43]:
#
mse_train, mse_test

(0.00567594427911449, 0.00842349661552225)

In [49]:
#forest = RandomForestRegressor(n_estimators=150, max_depth=2, min_samples_split=2)
mse_train, mse_test

(0.00567594427911449, 0.00842349661552225)

In [50]:
#forest = RandomForestRegressor(n_estimators=150, max_depth=1, min_samples_split=3)
mse_train, mse_test

(0.00567594427911449, 0.00842349661552225)

In [51]:
#forest = RandomForestRegressor(n_estimators=50, max_depth=4, min_samples_split=2)
mse_train, mse_test

(0.00567594427911449, 0.00842349661552225)